{% extends "base.html" %}

{% block title %}HD: Тех.задание.{% endblock %}

{% block content %}
<h3>Программа "Help desk"</h3>
<p>Программа для оформления и отслеживания заявок служб.</p>
<p></p>
<p>1. № Заявки.</p>
<p>2. Автор заявки.</p>
<p>3. Статус заявки.</p>
<p>4. № Заявки.</p>
<p>5. Автор заявки.</p>
<p>6. Статус заявки.</p>
<p>7. № Заявки.</p>
<p>8. Автор заявки.</p>
<p>9. Статус заявки.</p>
<p>10. № Заявки.</p>
<p>11. Автор заявки.</p>
<p>12. Статус заявки.</p>
<p>13. № Заявки.</p>

{% endblock %}
