{% extends "base.html" %}

{% block title %}Request{% endblock %}

{% block content %}

           <li class="nav1"><a href="/request/create">Добавить</a></li>
         {% if requests %}
              Количество заданий - {{count_user_request}}, не закрытых - {{count_user_request_noclose}}, новых - {{count_user_request_new}}.
         {% endif %}

          <table>
      {% if requests %}
          <tr>
              <th><a href="{% url action="user_request" tag_order="depart_id" %}">Отдел</a></th>
              <th><a href="{% url action="user_request" tag_order="status" %}">Статус</a></th>
              <th>Пользователь</th>
              <th><a href="{% url action="user_request" tag_order="id_order" %}">Срочность</a></th>
              <th><a href="{% url action="user_request" tag_order="creation_time" %}">Дата созд.</a></th>
              <th><a href="{% url action="user_request" tag_order="worker_in_time" %}">Дата прин.</a></th>
              <th><a href="{% url action="user_request" tag_order="worker_out_time" %}">Дата испол.</a></th>
              <th><a href="{% url action="user_request" tag_order="close_time" %}">Дата закр.</a></th>
              <th><a href="{% url action="user_request" tag_order="note" %}">Описание</a></th>
              <th>Операции</th>
          </tr>
          {% for request in requests %}
          <tr>
              <td>{{request.depart.name}}</td>
              <td>{% if request.status == "Discarded" %}
                     <font color="red">Отвергнуто</font>
                  {% else %}
                     {{ request.status }}
                  {% endif %}</td>
              <td>{{request.cl_user.name}}</td>
              <td>{{request.id_order}}</td>
              <td>{% include "./main/date.txt" with date=request.creation_time %}</td>
              <td>{% include "./main/date.txt" with date=request.worker_in_time %}</td>
              <td>{% include "./main/date.txt" with date=request.worker_out_time %}</td>
              <td>{% include "./main/date.txt" with date=request.close_time %}</td>
              <td>{{request.note|truncatechars:50}}</td>
              <td align="center">
              {% if request.worker_out_time|date:"Y" < 2011 %}
              {% else %}
              {% if request.close_time|date:"Y" < 2011 %}
                  <a href=/request/set_close/{{request.id}}>Подтвердить</a>
                  <a href=/request/set_discarded/{{request.id}}>Отвергнуть</a>
              {% endif %}
              {% endif %}
                  <a href=/request/show/{{request.id}}>Показать</a>
          </tr>
          {% endfor %}
         
      {% else %}
          <b> Заданий нет. </b>
      {% endif %}
         </table>
{% endblock %}